<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Add Category</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"/>
    <!-- choices css -->
    <link href="/assets/libs/choices.js/public/assets/styles/choices.min.css" rel="stylesheet" type="text/css" />

    <!-- dropzone css -->
    <link href="/assets/libs/dropzone/min/dropzone.min.css" rel="stylesheet" type="text/css" />

    <!-- Bootstrap Css -->
    <link href="/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

        
</head>

<body data-layout="horizontal" data-topbar="dark">

    <!-- Begin page -->
    <div id="layout-wrapper">

        

        <!-- ========== Left Sidebar Start ========== -->
        <div class="vertical-menu">

            <!-- LOGO -->
            <div class="navbar-brand-box">
                <a href="index.html" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="assets/images/logo-sm.svg" alt="" height="22"> 
                    </span>
                    <span class="logo-lg">
                        <img src="assets/images/logo-sm.svg" alt="" height="22"> <span class="logo-txt">Symox</span>
                    </span>
                </a>

                <a href="index.html" class="logo logo-light">
                    <span class="logo-lg">
                        <img src="assets/images/logo-sm.svg" alt="" height="22"> <span class="logo-txt">Symox</span>
                    </span>
                    <span class="logo-sm">
                        <img src="assets/images/logo-sm.svg" alt="" height="22">
                    </span>
                </a>
            </div>

            <button type="button" class="btn btn-sm px-3 font-size-16 header-item vertical-menu-btn">
                <i class="fa fa-fw fa-bars"></i>
            </button>

            <div data-simplebar class="sidebar-menu-scroll">

                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                    <ul class="metismenu list-unstyled" id="side-menu">
                        <li class="menu-title" data-key="t-menu">Menu</li>

                        <li>
                            <a href="index.html">
                                <i class="bx bx-tachometer icon nav-icon"></i>
                                <span class="menu-item" data-key="t-dashboards">Dashboard</span>
                                <span class="badge rounded-pill bg-success">5+</span>
                            </a>
                        </li>

                        <li class="menu-title" data-key="t-applications">Applications</li>

                        <li>
                            <a href="apps-calendar.html">
                                <i class="bx bx-calendar icon nav-icon"></i>
                                <span class="menu-item" data-key="t-calendar">Calendar</span>
                            </a>
                        </li>

                        <li>
                            <a href="apps-chat.html">
                                <i class="bx bx-chat icon nav-icon"></i>
                                <span class="menu-item" data-key="t-chat">Chat</span>
                                <span class="badge rounded-pill bg-danger" data-key="t-hot">Hot</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript: void(0);" class="has-arrow">
                                <i class="bx bx-envelope icon nav-icon"></i>
                                <span class="menu-item" data-key="t-email">Email</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="email-inbox.html" data-key="t-inbox">Inbox</a></li>
                                <li><a href="email-read.html" data-key="t-read-email">Read Email</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript: void(0);" class="has-arrow">
                                <i class="bx bx-store icon nav-icon"></i>
                                <span class="menu-item" data-key="t-ecommerce">Ecommerce</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="ecommerce-products.html" data-key="t-products">Products</a></li>
                                <li><a href="ecommerce-product-detail.html" data-key="t-product-detail">Product Detail</a></li>
                                <li><a href="ecommerce-orders.html" data-key="t-orders">Orders</a></li>
                                <li><a href="ecommerce-customers.html" data-key="t-customers">Customers</a></li>
                                <li><a href="ecommerce-cart.html" data-key="t-cart">Cart</a></li>
                                <li><a href="ecommerce-checkout.html" data-key="t-checkout">Checkout</a></li>
                                <li><a href="ecommerce-shops.html" data-key="t-shops">Shops</a></li>
                                <li><a href="ecommerce-add-product.html" data-key="t-add-product">Add Product</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript: void(0);" class="has-arrow">
                                <i class="bx bx-receipt icon nav-icon"></i>
                                <span class="menu-item" data-key="t-invoices">Invoices</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="invoices-list.html" data-key="t-invoice-list">Invoice List</a></li>
                                <li><a href="invoices-detail.html" data-key="t-invoice-detail">Invoice Detail</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript: void(0);" class="has-arrow">
                                <i class="bx bxs-user-detail icon nav-icon"></i>
                                <span class="menu-item" data-key="t-contacts">Contacts</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="contacts-grid.html" data-key="t-user-grid">User Grid</a></li>
                                <li><a href="contacts-list.html" data-key="t-user-list">User List</a></li>
                                <li><a href="contacts-profile.html" data-key="t-user-settings">User Settings</a></li>
                            </ul>
                        </li>

                        <li class="menu-title" data-key="t-pages">Pages</li>

                        <li>
                            <a href="javascript: void(0);" class="has-arrow">
                                <i class="bx bx-user-circle icon nav-icon"></i>
                                <span class="menu-item" data-key="t-authentication">Authentication</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="auth-login.html" data-key="t-login">Login</a></li>
                                <li><a href="auth-register.html" data-key="t-register">Register</a></li>
                                <li><a href="auth-recoverpw.html" data-key="t-recover-password">Recover Password</a></li>
                                <li><a href="auth-lock-screen.html" data-key="t-lock-screen">Lock Screen</a></li>
                                <li><a href="auth-logout.html" data-key="t-logout">Log Out</a></li>
                                <li><a href="auth-confirm-mail.html" data-key="t-confirm-mail">Confirm Mail</a></li>
                                <li><a href="auth-email-verification.html" data-key="t-email-verification">Email Verification</a></li>
                                <li><a href="auth-two-step-verification.html" data-key="t-two-step-verification">Two Step Verification</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript: void(0);" class="has-arrow">
                                <i class="bx bx-file icon nav-icon"></i>
                                <span class="menu-item" data-key="t-utility">Utility</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="pages-starter.html" data-key="t-starter-page">Starter Page</a></li>
                                <li><a href="pages-maintenance.html" data-key="t-maintenance">Maintenance</a></li>
                                <li><a href="pages-comingsoon.html" data-key="t-coming-soon">Coming Soon</a></li>
                                <li><a href="pages-timeline.html" data-key="t-timeline">Timeline</a></li>
                                <li><a href="pages-faqs.html" data-key="t-faqs">FAQs</a></li>
                                <li><a href="pages-pricing.html" data-key="t-pricing">Pricing</a></li>
                                <li><a href="pages-404.html" data-key="t-error-404">Error 404</a></li>
                                <li><a href="pages-500.html" data-key="t-error-500">Error 500</a></li>
                            </ul>
                        </li>
            
                        <li>
                            <a href="layouts-vertical.html">
                                <i class="bx bx-layout icon nav-icon"></i>
                                <span class="menu-item" data-key="t-vertical">Vertical</span>
                            </a>
                        </li>

                        <li class="menu-title" data-key="t-components">Components</li>

                        <li>
                            <a href="javascript: void(0);" class="has-arrow">
                                <i class="bx bxl-bootstrap icon nav-icon"></i>
                                <span class="menu-item" data-key="t-bootstrap">Bootstrap</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="ui-alerts.html" data-key="t-alerts">Alerts</a></li>
                                <li><a href="ui-buttons.html" data-key="t-buttons">Buttons</a></li>
                                <li><a href="ui-cards.html" data-key="t-cards">Cards</a></li>
                                <li><a href="ui-carousel.html" data-key="t-carousel">Carousel</a></li>
                                <li><a href="ui-dropdowns.html" data-key="t-dropdowns">Dropdowns</a></li>
                                <li><a href="ui-grid.html" data-key="t-grid">Grid</a></li>
                                <li><a href="ui-images.html" data-key="t-images">Images</a></li>
                                <li><a href="ui-modals.html" data-key="t-modals">Modals</a></li>
                                <li><a href="ui-offcanvas.html" data-key="t-offcanvas">Offcanvas</a></li>
                                <li><a href="ui-placeholders.html" data-key="t-placeholders">Placeholders</a></li>
                                <li><a href="ui-progressbars.html" data-key="t-progress-bars">Progress Bars</a></li>
                                <li><a href="ui-tabs-accordions.html" data-key="t-tabs-accordions">Tabs &amp; Accordions</a></li>
                                <li><a href="ui-typography.html" data-key="t-typography">Typography</a></li>
                                <li><a href="ui-video.html" data-key="t-video">Video</a></li>
                                <li><a href="ui-general.html" data-key="t-general">General</a></li>
                                <li><a href="ui-colors.html" data-key="t-colors">Colors</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript: void(0);" class="has-arrow">
                                <i class="bx bx-disc icon nav-icon"></i>
                                <span class="menu-item" data-key="t-extended">Extended</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="extended-lightbox.html" data-key="t-lightbox">Lightbox</a></li>
                                <li><a href="extended-rangeslider.html" data-key="t-range-slider">Range Slider</a></li>
                                <li><a href="extended-sweet-alert.html" data-key="t-sweet-alert">SweetAlert 2</a></li>
                                <li><a href="extended-rating.html" data-key="t-rating">Rating</a></li>
                                <li><a href="extended-notifications.html" data-key="t-notifications">Notifications</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript: void(0);" class="has-arrow">
                                <i class="bx bxs-eraser icon nav-icon"></i>
                                <span class="menu-item" data-key="t-forms">Forms</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="form-elements.html" data-key="t-basic-elements">Basic Elements</a></li>
                                <li><a href="form-validation.html"data-key="t-validation">Validation</a></li>
                                <li><a href="form-advanced.html"data-key="t-advanced-plugins">Advanced Plugins</a></li>
                                <li><a href="form-editors.html"data-key="t-editors">Editors</a></li>
                                <li><a href="form-uploads.html"data-key="t-file-upload">File Upload</a></li>
                                <li><a href="form-wizard.html"data-key="t-wizard">Wizard</a></li>
                                <li><a href="form-mask.html" data-key="t-mask">Mask</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript: void(0);" class="has-arrow">
                                <i class="bx bx-list-ul icon nav-icon"></i>
                                <span class="menu-item" data-key="t-tables">Tables</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="tables-basic.html" data-key="t-bootstrap-basic">Bootstrap Basic</a></li>
                                <li><a href="tables-advanced.html" data-key="t-advanced-tables">Advance Tables</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript: void(0);" class="has-arrow">
                                <i class="bx bxs-bar-chart-alt-2 icon nav-icon"></i>
                                <span class="menu-item" data-key="t-charts">Charts</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="charts-apex.html" data-key="t-apex-charts">Apex</a></li>
                                <li><a href="charts-chartjs.html" data-key="t-chartjs-charts">Chartjs</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript: void(0);" class="has-arrow">
                                <i class="bx bx-aperture icon nav-icon"></i>
                                <span class="menu-item" data-key="t-icons">Icons</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="icons-feather.html" data-key="t-feather">Feather</a></li>
                                <li><a href="icons-boxicons.html" data-key="t-boxicons">Boxicons</a></li>
                                <li><a href="icons-materialdesign.html" data-key="t-material-design">Material Design</a></li>
                                <li><a href="icons-dripicons.html" data-key="t-dripicons">Dripicons</a></li>
                                <li><a href="icons-fontawesome.html" data-key="t-font-awesome">Font awesome</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript: void(0);" class="has-arrow">
                                <i class="bx bx-map icon nav-icon"></i>
                                <span class="menu-item" data-key="t-maps">Maps</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="maps-google.html" data-key="t-google">Google</a></li>
                                <li><a href="maps-vector.html" data-key="t-vector">Vector</a></li>
                                <li><a href="maps-leaflet.html" data-key="t-leaflet">Leaflet</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript: void(0);" class="has-arrow">
                                <i class="bx bx-share-alt icon nav-icon"></i>
                                <span class="menu-item" data-key="t-multi-level">Multi Level</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="true">
                                <li><a href="javascript: void(0);" data-key="t-level-1.1">Level 1.1</a></li>
                                <li><a href="javascript: void(0);" class="has-arrow" data-key="t-level-1.2">Level 1.2</a>
                                    <ul class="sub-menu" aria-expanded="true">
                                        <li><a href="javascript: void(0);" data-key="t-level-2.1">Level 2.1</a></li>
                                        <li><a href="javascript: void(0);" data-key="t-level-2.2">Level 2.2</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
                <!-- Sidebar -->
            </div>
        </div>
        <!-- Left Sidebar End -->
        <header id="page-topbar" class="ishorizontal-topbar">
            <div class="navbar-header">
                <div class="d-flex">
                    <!-- LOGO -->
                    <div class="navbar-brand-box">
                        <a href="index.html" class="logo logo-dark">
                            <span class="logo-sm">
                                <img src="assets/images/logo-sm.svg" alt="" height="22">
                            </span>
                            <span class="logo-lg">
                                <img src="assets/images/logo-sm.svg" alt="" height="22"> <span class="logo-txt">Symox</span>
                            </span>
                        </a>
    
                    
                    </div>
    
                    <button type="button" class="btn btn-sm px-3 font-size-16 d-lg-none header-item" data-bs-toggle="collapse" data-bs-target="#topnav-menu-content">
                        <i class="fa fa-fw fa-bars"></i>
                    </button>
    
                    <div class="topnav">
                        <nav class="navbar navbar-light navbar-expand-lg topnav-menu">
    
                            <div class="collapse navbar-collapse" id="topnav-menu-content">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link dropdown-toggle arrow-none" href="/admin/home" id="topnav-dashboard" role="button"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class='bx bx-tachometer'></i>
                                            <span data-key="t-dashboards">Dashboard</span>
                                        </a>
                                    </li>
    
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-pages" role="button">
                                            <i class='bx bx-grid-alt'></i>
                                            <span data-key="t-apps">User</span> <div class="arrow-down"></div>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="topnav-pages">
    
                                            <a href="/admin/Userdata" class="dropdown-item" data-key="t-calendar">User</a>
                                            <a href="/admin/returnlist" class="dropdown-item" data-key="t-calendar">Return</a>
                                            
                                            
                                        </div>
                                    </li>
    
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-uielement" role="button"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class='bx bxl-bootstrap'></i>
                                           <span data-key="t-bootstrap">Product</span> <div class="arrow-down"></div>
                                        </a>
    
                                        <div class="dropdown-menu mega-dropdown-menu px-2 dropdown-mega-menu-xl w-25 " aria-labelledby="topnav-uielement">
                                            <div class="">
                                                <div class="row">
                                                    <div class="">
                                                        <a href="/admin/Product" class="dropdown-item" data-key="t-products">Products List</a>
                                                        <a href="/admin/AddProduct" class="dropdown-item" data-key="t-add-product">Add Product</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
    
    
    
    
                         
    
    
    
    
    
    
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-components" role="button"
                                        >
                                            <i class='bx bx-layer' ></i>
                                            <span data-key="t-components">Category</span> <div class="arrow-down"></div>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="topnav-components">
                                            <a href="/admin/Category" class="dropdown-item" data-key="t-chat">Category</a>
                                        </div>
                           
                                    </li>
    
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-more" role="button">
                                        <i class='bx bx-file'></i>
                                            <span data-key="t-pages">Order</span> <div class="arrow-down"></div>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="topnav-more">
                                            <a href="/admin/OrderList" class="dropdown-item" data-key="t-invoice-list">Order List</a>
                                        </div>
                                    </li>
    
    
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-more" role="button">
                                        <i class='bx bx-file'></i>
                                            <span data-key="t-pages">Coupon</span> <div class="arrow-down"></div>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="topnav-more">
                                            <a href="/admin/coupon" class="dropdown-item" data-key="t-invoice-list">Coupon</a>
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-more" role="button">
                                        <i class='bx bx-file'></i>
                                            <span data-key="t-pages">Offer</span> <div class="arrow-down"></div>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="topnav-more">
                                            <a href="/admin/offerList" class="dropdown-item" data-key="t-invoice-list">Offer List</a>
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-uielement" role="button"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class='bx bxl-bootstrap'></i>
                                           <span data-key="t-bootstrap">sales report</span> <div class="arrow-down"></div>
                                        </a>
    
                                        <div class="dropdown-menu mega-dropdown-menu px-2 dropdown-mega-menu-xl w-25 " aria-labelledby="topnav-uielement">
                                            <div class="">
                                                <div class="row">
                                                    <div class="">
                                                        <a href="/admin/SalesReport/Daily" class="dropdown-item" data-key="t-products">Daily</a>
                                                        <a href="/admin/SalesReport/Weekly" class="dropdown-item" data-key="t-add-product">Weekly</a>
                                                        <a href="/admin/SalesReport/Monthly" class="dropdown-item" data-key="t-add-product">Monthly</a>
                                                        <a href="/admin/SalesReport/Yearly" class="dropdown-item" data-key="t-add-product">Yearly</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                    </li>
    

                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
    
             
        
                    <div class="p-3  ">
    
                        <a class="text-white " href="/admin/logout"><i class='bx bx-log-out text-muted font-size-18 align-middle me-1'></i> <span class="align-middle">Logout</span></a>
                    </div>
    
    
                </div>
    
            </div>
        </header>    
    <br>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <div id="addproduct-accordion" class="custom-accordion">
                       <div id="addproduct-billinginfo-collapse " class="collapse show" data-bs-parent="#addproduct-accordion">
                      <div class="p-4 border-top  d-flex justify-content-center pt-5    ">
         
                     <div class="w-50 d-flex justify-content-center " style="background-color: white;">
                           <form id="myForm" action="/admin/addcoupon" method="post" enctype="multipart/form-data" onsubmit="return validatecoupon()">
                            <div class="d-flex justify-content-end ">
                       <a href="/admin/coupon"> <i class="ri-close-line text-dark " style="font-size: 1.4rem;"></i></a>
                    </div>
                    <div style="width: 40vw;padding: 2rem;">
                     <!-- <label for="file" id="label" style="        width: 52% !important;  left: 23%;  height: 10rem; cursor: pointer; border-radius: 15px; border: 1px dashed gray;" class="position-relative  w-100 d-flex  align-items-center  justify-content-center ">
                        <img id="image" style="border-radius: 15px; display: none;object-fit: cover;" class="w-100 h-100 object-fit-cover "   src="" alt="">
                        <p id="upload">Upload image <i class="ri-upload-2-line"></i></p>
                        <i id="icon" onclick="close()" class="ri-close-circle-line position-absolute " style="top: -5%; z-index: 999999; display:none; scale: 1.3; left: 98%;"></i>
                    </label> -->
                    <!-- <input accept="image/*"  onchange="hello(this)" type="file" name="image" id="file"  > -->
                    <input accept="image/*"  type="file" name="image" id="file"  >

                        <div class="mb-3">
                            <label class="form-label" for="productname"> Name</label>
                            <input  id="Name" name="name" placeholder="Enter Product Name" type="text" class="form-control">
                            <div id="NameError" class="text-danger"></div>
                        </div>
                        <div class="row">

                            <div class="mb-3 col-md-4">
                                <label class="form-label" for="productname">Buy Minimum Price </label>
                                <input  name="BuyLowPrice" id="buyMiniPrice" placeholder="Enter  Price" type="number" min="1" class="form-control">
                                <div id="buyMiniPriceError" class="text-danger"></div>
                            </div>
                            <div class="mb-3 col-md-4">
                                <label class="form-label" for="productname"> Buy Maximum Price</label>
                                <input  name="BuyhighPrice" id="buyMaxPrice" placeholder=" Enter Price" type="number" min="1" class="form-control">
                                <div id="buyMaxPriceError" class="text-danger"></div>
                            </div>
                            <div class="mb-3 col-md-4">
                                <label class="form-label" for="productname"> Offer</label>
                                <input  name="offer" max="100" id="Offer" min="1" placeholder="Enter Offer  %" type="number" class="form-control">
                                <div id="OfferError" class="text-danger"></div>
                            </div>
                            <div class="mb-3 col-md-4">
                                <label class="form-label" for="productname">Minimum Price </label>
                                <input  name="lowPrice" id="miniPrice" placeholder="Enter Price" type="number" min="1" class="form-control">
                                <div id="miniPriceError" class="text-danger"></div>
                            </div>
                            <div class="mb-3 col-md-4">
                                <label class="form-label" for="productname"> Maximum Price</label>
                                <input  name="highPrice" id="maxPrice" placeholder="Enter High Price" min="1" type="number" class="form-control">
                                <div id="maxPriceError" class="text-danger"></div>
                            </div>
                            <div class="mb-3 col-md-4">
                                <label class="form-label" for="productname"> Coupon Duration</label>
                                <input  name="days" min="1" type="number" id="Duration" class="form-control">
                                <div id="DurationError" class="text-danger"></div>
                            </div>
                            <div class="mb-3 col-md-12">
                                <label class="form-label" for="productdesc"> Description</label>
                                <textarea required class="form-control" name="description"
                                    id="Description" placeholder="Enter Description"
                                    rows="3"></textarea>
                                    <div id="descriptionError" class="text-danger"></div>
                            </div>
                         
                        </div>
        
                       
                        <br>
                     <div class="justify-content-center d-flex ">
                       <button class="btn btn-dark "> <i class=" bx bx-file me-1"></i> Add</button> 
                    </div> 
                    
                    </div>
            </form>
            </div>
        
        </div>
    </div> 
    </div>

       <script>
        function hello(e){
            const image=document.getElementById('image');
            const icon=document.getElementById('icon');
            const upload=document.getElementById('upload');
            image.src=URL.createObjectURL(e.files[0])
            image.style.display='block'
            icon.style.display='block'
            upload.style.display='none'
            e.disabled=true
            
        }
        document.addEventListener('click',e=>{
            if(e.target.id=='icon'){
                close()
            }
        })
        function close(){
            const image=document.getElementById('image');
            const icon=document.getElementById('icon');
            const upload=document.getElementById('upload');
            const file=document.getElementById('file');
            // file.style.display='block'`
            image.src=''
            file.value=''
            // file.disabled=false
            
            image.style.display='none'
            icon.style.display='none'
            upload.style.display='block'
        }



        
// function validatecoupon(){
// 	let name = document.getElementById('Name').value.trim();
// 	let buyMiniPrice  = document.getElementById('buyMiniPrice').value.trim();
// 	let buyMaxPrice = document.getElementById('buyMaxPrice').value.trim();
// 	let Offer = document.getElementById('Offer').value.trim();
// 	let miniPrice = document.getElementById('miniPrice').value.trim();
// 	let maxPrice = document.getElementById('maxPrice').value.trim();
// 	let Duration = document.getElementById('Duration').value.trim();
// 	let Description = document.getElementById('Description').value.trim();


// 	let NameError = document.getElementById('NameError');
// 	let buyMiniPriceError = document.getElementById('buyMiniPriceError');
// 	let buyMaxPriceError = document.getElementById('buyMaxPriceError');
// 	let OfferError = document.getElementById('OfferError');
// 	let miniPriceError = document.getElementById('miniPriceError');
// 	let maxPriceError = document.getElementById('maxPriceError');
// 	let DurationError =document.getElementById('DurationError');
// 	let descriptionError =document.getElementById('descriptionError');

// 	NameError.textContent = '';
// 	buyMiniPriceError.textContent = '';
// 	buyMaxPriceError.textContent = '';
// 	OfferError.textContent = '';
// 	miniPriceError.textContent = '';
// 	maxPriceError.textContent = '';
// 	DurationError.textContent = ''
// 	descriptionError.textContent = ''

// 	let isValied = true

// 	if(name === ''){
// 		NameError.textContent = 'Please enter coupon name'
// 		isValied = false
// 	}

// 	if(buyMiniPrice==='') {
// 		buyMiniPriceError.textContent = 'Please enter a Buy Minimum Price '
// 		isValied = false
// 	}

// 	if(buyMaxPrice === ''){
// 		buyMaxPriceError.textContent = 'Please enter a Buy Maximum Price'
// 		isValied = false
// 	}

// 	if(Offer===''){
// 		OfferError.textContent = 'Please enter a Offer percentage'
// 		isValied = false
// 	}

// 	if(miniPrice === ''){
// 		miniPriceError.textContent = 'Please enter a Minimum Price'
// 		isValied = false
// 	}

// 	if(maxPrice === ''){
// 		maxPriceError.textContent = 'Please enter a Maximum Price'
// 		isValied = false
// 	}
// 	if(Duration === ''){
// 		DurationError.textContent = 'Please enter Coupon Expiry Date Duration '
// 		isValied = false
// 	}
// 	if(Description === ''){
// 		descriptionError.textContent = 'Please enter Coupon Description '
// 		isValied = false
// 	}

// 	return isValied

// }






       </script>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- JAVASCRIPT -->
    <script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/libs/metismenujs/metismenujs.min.js"></script>
    <script src="/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="/assets/libs/feather-icons/feather.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- choices js -->
    <script src="/assets/libs/choices.js/public/assets/scripts/choices.min.js"></script>

    <!-- dropzone plugin -->
    <script src="/assets/libs/dropzone/min/dropzone.min.js"></script>

    <!-- init js -->
    <script src="/assets/js/pages/ecommerce-choices.init.js"></script>
    <script defer src="https://cdn.crop.guide/loader/l.js?c=LFVQKW"></script>

    <script src="/assets/js/app.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


</body>

</html>
